{% extends "DintanavongPresentationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} | Deep Sense {% endblock %}
{% block css %} {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
{% endblock %}
{% block body %}
    <div id="loaderDp"></div>
    <div id="fullpage">
        <div class="section">
            <h1 class="tlt">DEEP SENSE</h1>
        </div>
        <div class="section">Some section</div>
        <div class="section">Some section</div>
        <div class="section">Some section</div>
        <div class="section">Some section</div>
    </div>
{% endblock %}
{% block iconbottom %}{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/jquery.easings.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script src="{{ asset('textillate/assets/jquery.lettering.js') }}"></script>
    <script src="{{ asset('textillate/jquery.textillate.js') }}"></script>
{% endblock %}