{% extends "DintanavongPresentationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} Galerie {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset('materialize/css/materialize.min.css') }}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/blueimp-gallery.min.css')}}">
    {% endblock %}
{% block body %}
    {{ parent() }}
    <body onload="setupBlocks();">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <div class="row container" style="position:absolute;top:15%;">
        <div class="col s12 gallery">
            <div id="links">
                <div class="block">
                    <a href="https://wallpaperbrowse.com/media/images/pictures-2.jpg" title="Orange" data-gallery>
                        <img src="https://wallpaperbrowse.com/media/images/pictures-2.jpg" alt="Orange">
                    </a>
                </div>
               <div class="block">
                   <a href="https://wallpaperbrowse.com/media/images/pictures-2.jpg"  title="Orange" data-gallery>
                       <img src="https://wallpaperbrowse.com/media/images/pictures-2.jpg" alt="Orange">
                   </a>
               </div>
                <div class="block">
                    <a href="https://wallpaperbrowse.com/media/images/pictures-2.jpg"  title="Orange" data-gallery>
                        <img src="https://wallpaperbrowse.com/media/images/pictures-2.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg"  title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" title="Orange" data-gallery>
                        <img src="https://justifiedgrid.com/wp-content/uploads/life/biking/137646854.jpg" alt="Orange">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/01/bf/ee/01bfeea36b688e1c72a5e18ab53894af--vintage-images-google-search.jpg">
                        <img src="https://i.pinimg.com/736x/01/bf/ee/01bfeea36b688e1c72a5e18ab53894af--vintage-images-google-search.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/5b/e2/dd/5be2ddc2d57cf854f6e71ac97ac1bb56--crusaders-america.jpg">
                        <img src="https://i.pinimg.com/736x/5b/e2/dd/5be2ddc2d57cf854f6e71ac97ac1bb56--crusaders-america.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="http://www.gettyimages.fr/gi-resources/images/Homepage/Featured/FR/FR_39_2Pack_158259920.jpg">
                        <img src="http://www.gettyimages.fr/gi-resources/images/Homepage/Featured/FR/FR_39_2Pack_158259920.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.ytimg.com/vi/chIgzZtu12g/maxresdefault.jpg">
                        <img src="https://i.ytimg.com/vi/chIgzZtu12g/maxresdefault.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://thebaffler.com/wp-content/uploads/2017/08/Flat800x800075f.jpg">
                        <img src="https://thebaffler.com/wp-content/uploads/2017/08/Flat800x800075f.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://images.alphacoders.com/238/thumb-1920-238483.jpg">
                        <img src="https://images.alphacoders.com/238/thumb-1920-238483.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="http://www.xsjjys.com/data/out/94/WHDQ-512379632.jpg">
                        <img src="http://www.xsjjys.com/data/out/94/WHDQ-512379632.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                        <img src="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                        <img src="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                        <img src="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                        <img src="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                    </a>
                </div>
                <div class="block">
                    <a href="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                        <img src="https://i.pinimg.com/736x/34/ff/34/34ff341e91a4a9fe030b4f4728fc1a73--character-ideas-character-art.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
    <script src="{{ asset('js/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        /* tiles */
        var colCount = 0;
        var colWidth = 0;
        var margin = 20;
        var windowWidth = 0;
        var blocks = [];
        $(function(){
            $(window).resize(setupBlocks);
        });
        function setupBlocks() {
            windowWidth = $(window).width();
            colWidth = $('.block').outerWidth();
            blocks = [];
            //console.log(blocks);
            colCount = Math.floor(windowWidth/(colWidth+margin*2));
            for(var i=0;i<colCount;i++){
                blocks.push(margin);
            }
            positionBlocks();
        }
        function positionBlocks() {
            $('.block').each(function(){
                var min = Array.min(blocks);
                var index = $.inArray(min, blocks);
                var leftPos = margin+(index*(colWidth+margin));
                $(this).css({
                    'left':leftPos+'px',
                    'top':min+'px'
                });
                blocks[index] = min+$(this).outerHeight()+margin;
            });
        }
        // Function to get the Min value in Array
        Array.min = function(array) {
            return Math.min.apply(Math, array);
        };
    </script>
{% endblock %}
