{% extends "DintanavongPresentationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1228278677291503";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {{ parent() }}
    <div class="pages">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="http://www.turizem-slovenjgradec.si/images/headers/lovrenska.png">
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="https://i0.wp.com/dailygreenspiration.com/wp-content/uploads/2017/07/header-2.jpg?fit=3489%2C1963&ssl=1&resize=1920%2C550">
                    <div class="caption left-align">
                        <h3>Left Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="http://www.dalgardnobuilders.com/wp-content/uploads/2013/10/slider-final-mountains2.jpg">
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header p_home">Présentation</h1>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
                <div class="col s4">
                    <div class="fb-page"
                         data-href="https://www.facebook.com/facebook"
                         data-width="372"
                         data-hide-cover="false"
                         data-show-facepile="true">
                    </div>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="MY7W4Y4DTK9DG">
                        <input type="image" src="http://www.pngall.com/wp-content/uploads/2016/05/PayPal-Donate-Button-PNG-HD.png" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <div class="col s4">
                    <a href="https://discord.gg/N4fjJc"><img src="https://lh3.googleusercontent.com/_4zBNFjA8S9yjNB_ONwqBvxTvyXYdC7Nh1jYZ2x6YEcldBr2fyijdjM2J5EoVdTpnkA=w300" alt="wolpertinger_discord" title="wolpertinger_discord"/></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="parallax-container">
                <div class="parallax"><img title="professional" alt="professional" src="https://pre00.deviantart.net/adb3/th/pre/f/2017/088/e/6/26s_by_wlop-db3wpj2.jpg"></div>
            </div>
        </div>
        <div class="row container">
            <div class="col s12">
                <h2 class="header animated p_home">Présentation</h2>
                <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                </p>
                <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                </p>
            </div>
        </div>
        <div class="row container">
            <div class="col s3">
                <div id="card">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Tout ceci manque un peu de graphisme</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les graphismes > gameplay</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div id="card1">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je supporte les PC, je suis un pur master race.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div id="card2">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le Rituel est omnipotent.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Xcas</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div id="card3">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les CHALAMIASMES</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15%;">
            <div class="parallax-container">
                <div class="parallax"><img title="" alt="" src="https://images4.alphacoders.com/117/117378.jpg"></div>
            </div>
        </div>
        <div class="row container">
            <h1 class="center" style="margin-bottom: 8%;">Nos valeurs</h1>
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="large material-icons">flash_on</i>
                    <p class="promo-caption">Développement accéléré</p>
                    <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="large material-icons">group</i>
                    <p class="promo-caption">Centré sur l'experience utilisateur</p>
                    <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center promo promo-example">
                    <i class="large material-icons">settings</i>
                    <p class="promo-caption">Facile à prendre en main</p>
                    <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 0 !important;">
            <div class="parallax-container">
                <div class="parallax">
                    <img title="" alt="" src="https://i.ytimg.com/vi/fJkgx5jQiQ8/maxresdefault.jpg">
                    <a class="waves-effect waves-light btn-large teal" id="button_parallax"><i class="material-icons left">cloud</i>Télécharger</a>
                </div>
            </div>
        </div>
        <!-- Element Showed -->
        <a id="menu" class="teal waves-effect waves-light btn btn-floating" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">menu</i></a>
        <!-- Tap Target Structure -->
        <div class="tap-target-wrapper"><div class="tap-target teal" data-activates="menu">
                <div class="tap-target-content white-text">
                    <h5>De nouvelles fonctionnalités</h5>
                    <p class="white-text">Ce site est en cours de développement, de nouvelles fonctionnalités apparaitront prochainement !</p>
                </div>
            </div>
            <div class="tap-target-wave" ><a class="btn btn-floating btn-large teal darken-4 tap-target-origin"><i class="material-icons">menu</i></a></div></div>
    </div>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
{% block scripts %}{{ parent() }}
    <script src="{{ asset('js/flip.js') }}"></script>
{% endblock %}
