{% extends "DintanavongPresentationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="pages">

    <div class="row">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img title="header" alt="header" src="{{ asset('img/fantasy.jpg') }}"></div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header p_home">Présentation</h1>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
                <div class="col s6">
                    <img src="https://t00.deviantart.net/40NI6RLS51VUEd8WQ2BZ6Lwsnmk=/fit-in/700x350/filters:fixed_height(100,100):origin()/pre00/e2fb/th/pre/f/2017/193/b/e/angelus_mortis_by_carlos_quevedo-dbg1yr8.jpg" title="" alt=""/>
                    <a class="waves-effect waves-light btn-large light-blue lighten-1"><i class="material-icons left">cloud</i>Télécharger</a>
                    <a class="waves-effect waves-light btn-large light-blue lighten-1"><i class="material-icons left">perm_contact_calendar</i>Support us !</a>
                    <a class="waves-effect waves-light btn-large light-blue lighten-1"><i class="material-icons left">add_circle_outline</i>En savoir +</a>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img title="professional" alt="professional" src="https://pre00.deviantart.net/adb3/th/pre/f/2017/088/e/6/26s_by_wlop-db3wpj2.jpg"></div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <h2 class="header animated p_home">Présentation</h2>
            <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
            </p>
            <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
            </p>
        </div>
    </div>
    <div class="row container">
        <div class="col s3">
            <div id="card">
                <div class="card front">
                    <div class="card-image">
                        <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Tout ceci manque un peu de graphisme</p>
                    </div>
                </div>
                <div class="card back">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mmAm9EV.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Les graphismes > gameplay</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Ceci est un lien</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div id="card1">
                <div class="card front">
                    <div class="card-image">
                        <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Je supporte les PC, je suis un pur master race.</p>
                    </div>
                </div>
                <div class="card back">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mmAm9EV.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Ceci est un lien</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div id="card2">
                <div class="card front">
                    <div class="card-image">
                        <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Le Rituel est omnipotent.</p>
                    </div>
                </div>
                <div class="card back">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mmAm9EV.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Xcas</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Ceci est un lien</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div id="card3">
                <div class="card front">
                    <div class="card-image">
                        <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Les CHALAMIASMES</p>
                    </div>
                </div>
                <div class="card back">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mmAm9EV.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Ceci est un lien</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Element Showed -->
    <a id="menu" class="light-blue lighten-1 waves-effect waves-light btn btn-floating" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">menu</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target-wrapper"><div class="tap-target light-blue lighten-1" data-activates="menu">
            <div class="tap-target-content white-text">
                <h5>De nouvelles fonctionnalités</h5>
                <p class="white-text">Ce site est en cours de développement, de nouvelles fonctionnalités apparaitront prochainement !</p>
            </div>
        </div>
        <div class="tap-target-wave" ><a class="btn btn-floating btn-large light-blue lighten-1 tap-target-origin"><i class="material-icons">menu</i></a></div></div>
    </div>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
{% block scripts %}{{ parent() }}
    <script src="{{ asset('js/flip.js') }}"></script>
{% endblock %}
