{% extends "DintanavongPresentationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="pages">

    <div class="row">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img title="header" alt="header" src="{{ asset('img/fantasy.jpg') }}"></div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header p_home">Présentation</h1>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
                <div class="col s2">
                    <img class="responsive-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Cisco_academy_logo.svg/1024px-Cisco_academy_logo.svg.png" title="cisco" alt="cisco"/>
                </div>
                <div class="col s2">
                    <img title="lyon" alt="lyon" src="https://upload.wikimedia.org/wikipedia/fr/9/94/Ville_de_Lyon.svg"/>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img title="professional" alt="professional" src="https://c.pxhere.com/photos/95/14/photo-115778.jpg!d"></div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <h2 class="header animated p_home">Présentation</h2>
            <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
            </p>
            <p class="grey-text text-darken-3 lighten-3 p_home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
            </p>
        </div>
    </div>
    <div class="row container">
        <div class="col s3">
            <div id="card">
                <div class="card front">
                    <div class="card-image">
                        <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
                <div class="card back">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mmAm9EV.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Element Showed -->
    <a id="menu" class="waves-effect waves-light btn btn-floating" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">menu</i></a>

    <!-- Tap Target Structure -->
    <div class="tap-target-wrapper"><div class="tap-target cyan" data-activates="menu">
            <div class="tap-target-content white-text">
                <h5>De nouvelles fonctionnalités</h5>
                <p class="white-text">Ce site est en cours de développement, de nouvelles fonctionnalités apparaitront prochainement !</p>
            </div>
        </div>
        <div class="tap-target-wave" ><a class="btn btn-floating btn-large cyan tap-target-origin"><i class="material-icons">menu</i></a></div></div>
    </div>
{% endblock %}
{% block footer %}
    <div class="row">
        {{ parent() }}
    </div>
{% endblock %}
{% block scripts %}{{ parent() }}
    <script src="{{ asset('js/flip.js') }}"></script>
{% endblock %}
