<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Wolpertinger{% endblock %}</title>
    {% block css %}
   <!-- <link rel="stylesheet" type="text/css" href="{{ asset('materialize/css/materialize.min.css') }}"/>-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}"/>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="preloader-wrapper big active" id="loader">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0 !important;">
        <div class="navbar-fixed">
            <!-- Dropdown Structure -->
            <ul id="dropdown_about_us" class="dropdown-content">
                <li><a href="{{ path('team') }}">L'équipe</a></li>
                <li class="divider"></li>
                <li><a href="#!">On vous teste ?</a></li>
            </ul>
            <ul id="dropdown_deepsense" class="dropdown-content">
                <li><a href="{{ path('deepsense') }}">Deep Sense</a></li>
                <li class="divider"></li>
                <li><a href="#!">Chalavon</a></li>
            </ul>
            <!-- Menu -->
            <nav class="teal">
                <div class="nav-wrapper">
                    <!-- Insert logo -->
                    <!-- <a href="#" class="brand-logo">Logo</a> -->
                    <ul id="nav-mobile">
                        <li class="{% if app.request.attributes.get('_route') == 'dintanavong_presentation_homepage' %}active{% endif %}"><a href="{{ path('dintanavong_presentation_homepage') }}">Accueil</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'team' %}active{% endif %}"><a class="dropdown-button" href="#" data-activates="dropdown_about_us">A propos de nous<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'projects' %}active{% endif %}"><a class="dropdown-button" data-activates="dropdown_deepsense" href="{{ path('projects') }}">Liste des projets <i class="material-icons right">arrow_drop_down</i></a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'partnership' %}active{% endif %}"><a href="{{ path('partnership') }}">Partenariat</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'prices' %}active{% endif %}"><a href="{{ path('prices') }}">Tarifs</a></li>
                        <li class="{% if app.request.attributes.get('_route') == 'contact_page' %}active{% endif %}"><a href="{{ path('contact_page') }}">Contact</a></li>
                        <li class="right" id="se_connecter"><a href="#" data-activates="slide-out" class="se_connecter"><i class="material-icons">menu</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Sidebar -->
    <div class="row" style="margin-bottom: 0 !important;">
        <div class="col s12">
            <ul id="slide-out" class="side-nav">
                <li><div class="user-view">
                        <div class="background">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/412nYXxONqL._SX300_.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="http://www.lesavatars.com/Smile/Fantasy-RPG/baldursgate2_edwin.gif"></a>
                        <a href="#!name"><span class="white-text name">Kévin Dintanavong</span></a>
                        <a href="#!email"><span class="white-text email">Administrateur</span></a>
                    </div></li>
                <li><a href="#!"><i class="material-icons">account_circle</i>Se connecter</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Plus d'informations</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">account_balance</i>Charte informatique</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block iconbottom %}
    <!-- Element Showed -->
    <a id="menu" class="teal waves-effect waves-light btn btn-floating" onclick="$('.tap-target').tapTarget('open')" ><i class="material-icons">menu</i></a>
    <!-- Tap Target Structure -->
    <div class="tap-target-wrapper"><div class="tap-target teal" data-activates="menu">
            <div class="tap-target-content white-text">
                <h5>De nouvelles fonctionnalités</h5>
                <p class="white-text">Ce site est en cours de développement, de nouvelles fonctionnalités apparaitront prochainement !</p>
            </div>
        </div>
        <div class="tap-target-wave" ><a class="btn btn-floating btn-large teal darken-4 tap-target-origin"><i class="material-icons">menu</i></a></div></div>
    <a href="#" id="back-to-top" title="Back to top"><i class="material-icons">arrow_drop_up</i></a>
{% endblock %}
{% block footer %}
    <footer class="page-footer teal darken-1" id="footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Contenu</h5>
                    <p class="grey-text text-lighten-4">Rows et columns ici pour organiser son contenu.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Lien 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Dintanavong
                <a class="grey-text text-lighten-4 right" href="#!">Plus d'infos</a>
            </div>
        </div>
    </footer>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.all.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
{% endblock %}
</body>
</html>