{% extends "DintanavongPresentationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - L'équipe {% endblock %}
{% block body %}
    {{ parent() }}
    <div class="parallax-container">
        <div class="parallax"><img src="https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-367187.png"></div>
    </div>
    <div class="section white">
        <div class="row container" style="margin-bottom: 7%;">
            <h1 class="header">L'équipe Wolpertinger</h1>
            <p>Notre équipe est constitué d'énormes chalamiasmes pour le plaisir de tous.</p>
            <h2>Pôle communication</h2>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
            <div class="col s3">
                <div class="cards">
                    <div class="card front" id="test">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Tout ceci manque un peu de graphisme</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les graphismes > gameplay</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je supporte les PC, je suis un pur master race.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le Rituel est omnipotent.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Xcas</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les CHALAMIASMES</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="row container" style="margin-bottom: 10%;">
            <h2 class="header">Pôle technique</h2>
            <p>Tout ceci manque de graphisme.</p>
            <h3>Développement</h3>
            <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
            <div class="col s3">
                <div class="cards">
                    <div class="card front" id="test">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Tout ceci manque un peu de graphisme</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les graphismes > gameplay</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je supporte les PC, je suis un pur master race.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le Rituel est omnipotent.</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Xcas</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3">
                <div class="cards">
                    <div class="card front">
                        <div class="card-image">
                            <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Les CHALAMIASMES</p>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-image">
                            <img src="https://i.imgur.com/mmAm9EV.jpg">
                            <span class="card-title">Card Title</span>
                        </div>
                        <div class="card-content">
                            <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Ceci est un lien</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pole" style="margin-top: 45%;">
                <h3>Son</h3>
                <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front" id="test">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Tout ceci manque un peu de graphisme</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Les graphismes > gameplay</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Je supporte les PC, je suis un pur master race.</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Le Rituel est omnipotent.</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Xcas</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Les CHALAMIASMES</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pole" style="margin-top: 45%;">
                <h3>Designers</h3>
                <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front" id="test">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Tout ceci manque un peu de graphisme</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Les graphismes > gameplay</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Je supporte les PC, je suis un pur master race.</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Je chie sur les exclus et les sous appareils, les consoles.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Le Rituel est omnipotent.</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Xcas</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="cards">
                        <div class="card front">
                            <div class="card-image">
                                <img src="https://cdna.artstation.com/p/assets/images/images/005/740/184/large/kristina-toxicpanda-0013.jpg?1493407098">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Les CHALAMIASMES</p>
                            </div>
                        </div>
                        <div class="card back">
                            <div class="card-image">
                                <img src="https://i.imgur.com/mmAm9EV.jpg">
                                <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                                <p>Le liquide divin de jojolp nous asperge de sa bonté providentielle.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Ceci est un lien</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="http://wallup.net/wp-content/uploads/2016/04/10/215963-artwork-digital_art-fantasy_art-deer-forest-nature.jpg"></div>
    </div>
    <div class="row container">
        <div class="col s12">
            <h1>Description</h1>
            <p>Curabitur et erat id purus ullamcorper pellentesque in id diam. Fusce eu dolor dictum, maximus nunc ac, auctor ligula. Curabitur venenatis porta enim nec tempus. Vestibulum euismod eu sem ut ullamcorper. Aenean sit amet neque ac lorem blandit pretium. Cras a laoreet massa. Morbi tempor, nunc quis malesuada tristique, nisi arcu feugiat enim, ac consectetur eros sapien vitae nibh. Phasellus sit amet maximus ante, ac dapibus ligula. Cras lacus tortor, semper quis congue id, euismod id nunc. Vestibulum cursus quam eget arcu semper interdum. Curabitur aliquet vulputate turpis vitae maximus.</p>
        </div>
    </div>
    <div class="parallax-container" style="height: 900px;">
        <div class="parallax"><img src="http://wallportal.com/uploads/posts/fantasy-dragon-art-wallpaper/fantasy_dragon_art_wallpaper_024.jpg"></div>
    </div>
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
{% block scripts %}{{ parent() }}
    <script src="{{ asset('js/flip.js') }}"></script>
{% endblock %}